<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link rel="stylesheet" th:href="@{/css/admin.css}">
	</head>
	<body>
		<h1>Admin page</h1>
		<div class="main">
		<div class="reg">
		<a href="newSong">Add a new song</a>
		<br/>
		<br>
		<br>
		<a href="viewSongs">View all songs</a>
		<br/>
		<br>
		<br>
		<a href="createPlaylist">Create Palylist</a>
		<br/>
		<br>
		<br>
		<a href="viewPlaylists">View all Playlists</a>
		</div>
		</div>
	</body>
</html>